<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation</title>
    <link rel="stylesheet" href="assets/index.css">
</head>
<body>

    <div class="logo">
        <img class="home-logo" src="assets/logo.png" alt="">
        <h2 style="text-align:center;font-family:'Times New Roman', Times, serif; font-size:50px; color: red;">NEED BLOOD</h2>
    </div>

    <div class="content">
        <div class="welcome-message">
            <h1>Welcome to the Need Blood Platform</h1>
            <p>Thank you for being a part of this noble cause. Together, we can save lives!</p>
        </div>

        <div class="buttons">
            <a href="signup.html">Sign Up</a>
            <a href="login.html">Login</a>
        </div>
    </div>

</body>
</html>
